// http://www.modularscale.com/
// http://type-scale.com/
// perfect fourth
p {
  margin-bottom: 1.3rem;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  // font-weight: inherit;
  line-height: 1.2; // normal
}
h1 {
  margin-top: 0.5em;
  font-size: 3.157rem;
}
h2 {
  font-size: 2.369rem;
}
h3 {
  font-size: 1.777rem;
}
h4 {
  font-size: 1.333rem;
}
small, .font_small {
  font-size: 0.75rem;
}
// end
