@import "base/_colors";
@import "base/_typography";
@import "base/_buttons";
@import "base/_forms";
@import "base/_norma";

html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
  /*font-size: 100%;*/
}

*, *:before, *:after {
  box-sizing: inherit;
}
// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  margin: 0;
  background-color: $white;
  color: $black;
  font-family: 'Open Sans', monospace;
  font-weight: 400;
  line-height: 1.618; // 1.618 1.45
  /*letter-spacing: 0.5px;*/
}

//
// IMAGES
//

figure {
  position: relative;
  margin: 0;
}

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,.7);
  padding: 1em;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  // display: block;
  vertical-align: middle; // ?
}
svg:not(:root) {
  overflow: hidden;
}




progress {
  display: inline-block;
  vertical-align: baseline;
}


::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
.hidden,
[hidden] {
  display: none;
}
// end

a, a:hover, a:focus, a:visited
{
  color: $purple;
  text-decoration: none;
  // border-bottom: 1px dotted orange;
  &:hover {
    // border-bottom: 1px dotted $green;
  }
}

.nuxt-link-active {
  outline: none;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s;
  transition-timing-function: cubic-bezier(0.8,0,1,0);
}
.page-enter, .page-leave-active
{
  opacity: 0
}
