$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
$white:  #fbfbfb;
$silver: #DDDDDD;
$gray:   #AAAAAA;
$black:  #444444;

html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
  /*font-size: 100%;*/
}

*, *:before, *:after {
  box-sizing: inherit;
}
// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  margin: 0;
  background-color: $white;
  color: $black;
  // font-family: monospace;
  font-family: 'Open Sans', monospace;
  font-weight: 400;
  line-height: 1.618; // 1.618 1.45
  /*letter-spacing: 0.5px;*/
}

// http://www.modularscale.com/
// http://type-scale.com/
// perfect fourth
p {
  margin-bottom: 1.3rem;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  // font-weight: inherit;
  line-height: 1.2; // normal
}
h1 {
  margin-top: 0;
  font-size: 3.157rem;
}
h2 {
  font-size: 2.369rem;
}
h3 {
  font-size: 1.777rem;
}
h4 {
  font-size: 1.333rem;
}
small, .font_small {
  font-size: 0.75rem;
}
// end

// normalize.css ++
iframe {
  border: 0;
}
main {
  display: block;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
b,
strong {
  font-weight: inherit;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
  max-width: 100%;
  height: auto;
  // display: block;
  vertical-align: middle; // ?
}
svg:not(:root) {
  overflow: hidden;
}
.button,
button,
input {
  overflow: visible;
}
.button,
button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  color: red;
}
.button::-moz-focus-inner,
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.button:-moz-focusring,
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
.hidden,
[hidden] {
  display: none;
}
// end

a, a:hover, a:focus, a:visited
{
  color: $purple;
  text-decoration: none;
  // border-bottom: 1px dotted orange;
  &:hover {
    // border-bottom: 1px dotted $green;
  }
}

.nuxt-link-active {
  outline: none;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s;
  transition-timing-function: cubic-bezier(0.8,0,1,0);
}
.page-enter, .page-leave-active
{
  opacity: 0
}

/* Buttons Skeleton
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  // height: 38px;
  padding: 0 3em;
  // color: $red;
  text-align: center;
  font-family: inherit;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(179, 179, 179, 0.36);
  cursor: pointer;
  box-sizing: border-box;
  -webkit-user-drag: none;
  user-select: none;
  transition: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(.8,.15,.8,.15);
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
// .button:focus,
// button:focus,
// input[type="submit"]:focus,
// input[type="reset"]:focus,
// input[type="button"]:focus
{
  color: $white;
  outline: 0;
  background-color: $black;

}
.button:active {
  background-color: transparent;
  box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.24);
  color: $black;
  transition: none;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: $purple;
  border-color: $purple;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus
{
  border-color: rgba(179, 179, 179, 0.36);
  color: $white;
  outline: 0;
  background-color: $black;
  box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.8);
}
.button.button-primary:active, .button.button-primary:focus {
  background-color: transparent;
  color: $black;
  border: 1px solid rgba(179, 179, 179, 0.36);
  box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.24);
}
